* text=auto

/.docker export-ignore
/.dockerignore export-ignore
/docker-compose.yml export-ignore
/config.subsplit-publish.json export-ignore
/.editorconfig export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon export-ignore
/phpunit.php export-ignore
/phpunit.xml.dist export-ignore
/docker-composer.yml export-ignore
/README.md export-ignore
/CODE_OF_CONDUCT.md export-ignore
/.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.styleci.yml export-ignore
/tests export-ignore
