/tests/coverage
/tests/coverage.xml
/tests/resources
/vendor/
/coverage/
/phpstan/
/.phpunit.cache
/.phpunit.result.cache
/phpunit.xml
/composer.lock
/index_*.php
/.php-cs-fixer.php
/.php-cs-fixer.cache
/google-cloud-service-account.json
.idea
*.swp
